<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "CanchitApp" %></title>
    <% if params[:debug] == 'true' %>
      <script type="text/javascript" src="http://domscope.com/inspector.js"></script>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar foundation-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">CanchitApp</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#" data-reveal-id="search-checkin">Agregar película</a></li>
        </ul>
      </section>
    </nav>
    <section role="main" class="scroll-container">
      <%= yield %>
    </section>
    <%= render partial: 'modals/search_checkin' %>
    <%= render partial: 'modals/new_checkin' %>
    <script type="text/javascript">
      var TMDB = {
        settings: <%= @tmdb_configuration.to_json.html_safe %>
      };
    </script>
    <% if params[:debug] == 'true' %>
      <script type="text/javascript">
        Scope.register({
          identifier: 'canchitapp',
          client_key: '0206cc8767fc4b5070f87e3a7ae71fec'
        });
      </script>
    <% end %>
    <%= javascript_include_tag "application" %>
  </body>
</html>