<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CanchitApp" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar foundation-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">CanchitApp</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#" data-reveal-id="checkin-search">Agregar película</a></li>
        </ul>
      </section>
    </nav>
    <section role="main" class="scroll-container">
      <%= yield %>
    </section>
    <div id="checkin-search" class="reveal-modal" data-reveal>
      <h3>Buscar película</h3>
      <form id="search_movies">
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" id="query" placeholder="Buscar por nombre de película" />
              </div>
              <div class="small-2 columns">
                <input type="submit" class="button postfix" value="Buscar" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ul id="search_results" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4"></ul>
        </div>
      </form>
    </div>
    <div id="new-checkin" class="reveal-modal" data-reveal>
      <h3>Agregar película</h3>
      <div class="row">
        <div class="small-4 large-4 columns"><img id="checkin_image" src="#"></div>
        <div class="small-8 large-8 columns">
          <div class="row">
            <% if user_signed_in? %>
              <% if current_user.facebook_token.present? %>
                <div class="large-6 columns switch">
                  Facebook
                  <input id="checkin_facebook" type="checkbox">
                  <label for="checkin_facebook"></label>
                </div>
              <% end %>
              <% if current_user.twitter_token.present? %>
                <div class="large-6 columns switch">
                  Twitter
                  <input id="checkin_twitter" type="checkbox">
                  <label for="checkin_twitter"></label>
                </div>
              <% end %>
            <% end %>
          </div>
          <textarea id="checkin_comment" placeholder="Escribe un mensaje aquí"></textarea>
          <input type="hidden" id="checkin_movie_id">
          <a class="button expand" href="#" id="create_checkin">Agregar</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var TMDB = {
        settings: <%= @tmdb_configuration.to_json.html_safe %>
      };
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>